<!DOCTYPE html>
<html lang="sk">
<meta charset="UTF-8">
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<head>
    <title>Štatistiky pretekára {{name}}</title>
    <style>
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        table {
            margin-left: auto;
            margin-right: auto;
        }
        td, th {
          border: 1px solid black;
          width: 200px;
          height: 50px;
          text-align: center;
        }
        th {
          background-color: #D6EEEE;
        }
    </style>
</head>
<body>

    <h1>Štatistiky pretekára {{name}}</h1>
	<h2><u>Prehľad:</u></h2>
    <table>
        <tr>
            <th>Účasti na pretekoch:</th>
            <th>Víťazstvá:</th>
            <th>Poradie v klube:</th>
        </tr>
        <tr>
            <td>{{participations}}</td>
            <td>{{wins}}</td>
            <td>{{rank}}</td>
        </tr>
    </table>
	<h3>Odchyľka od ideálnej vzdialenosti</h3>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    <script>
    const xValues = ["Veľká cena Malých karpát 2023",
					"OMV orienteering challenge 2023",
					"XI. Medzidunajská cena",
					"Orientačný pohár L. Bartáka 2023",
					"Pohár Slovenskej Sporiteľne 2023",
					"XVII. Beh patriotov",
					"XXV. Vyšehradský pohár",
					"XVIII. Cena Petržalky"];
    const yValues = [6.15, 1.81, 1.26, 11.62, 1.94, 1.78, 3.58, 4.35];
    const barColors = ["yellow", "yellow","yellow", "yellow", "yellow", "yellow", "yellow", "yellow"];

    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {legend: {display: false},
    title: {
      display: true,
      text: "Percentuálne odchýľka od ideálnej vzdialenosti"
    }}
    });
    </script>
</body>
</html>
