<!DOCTYPE html>
<html lang="sk">
<head>
    <title>Porovnanie pretekárov</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>{% include 'css/style.css' %}</style>
    <script>{% include 'js/chart.min.js' %}</script>
</head>

<body onresize="responsiveFont()">
<div style="display: flex; flex-direction: column">
    <h1>Porovnanie pretekárov</h1>
    <h2><u>Prehľad:</u></h2>
    <table>
        <thead>
        <tr>
            <th>Pretekár:</th>
            <th>Účasti na pretekoch:</th>
            <th>Víťazstvá:</th>
        </tr>
        </thead>
        <tbody id="overviewBody">
        {# Table body will be generated dynamically #}
        </tbody>
    </table>
</div>

<script>
    const tableBody = document.getElementById("overviewBody");
    let html = "";
    for (let i = 0; i < {{racers_count}}; i++) {
        html += "<tr>";
        html += "<td>" + {{names|safe}}[i] + "</td>";
        html += "<td>" + {{participations}}[i] + "</td>";
        html += "<td>" + {{wins}}[i] + "</td>";
        html += "</tr>";
    }
    tableBody.innerHTML = html;
</script>

<h2>Štatistiky za obdobie {{ date_from }} - {{ date_to }}</h2>
<section class="canvases">
    <div class="row">
        <canvas id="Poradie_na_preteku" class="canvas"></canvas>
        <canvas id="Klzavy_median" class="canvas"></canvas>
    </div>
    <div class="row">
        <canvas id="Ucasti" class="canvas"></canvas>
        <canvas id="Vitazstva" class="canvas"></canvas>
    </div>
    <div class="row">
        <canvas id="Casy" class="canvas"></canvas>
    </div>
</section>

<script>
    const colors = ["blue", "orange", "green", "purple", "yellow", "cyan", "red"];
    const dataPlacements = [];
    const dataMedians = [];
    const dataParticipations = [];
    const dataWins = [];
    const dataTimes = [];
    for (let i = 0; i < {{racers_count}}; i++) {
        dataPlacements.push({
            label: {{names|safe}}[i],
            borderColor: colors[i % 7],
            backgroundColor: "white",
            data: {{placements|safe}}[i],
            lineTension: 0
        });
        dataMedians.push({
            label: {{names|safe}}[i],
            borderColor: colors[i % 7],
            backgroundColor: "white",
            data: {{sliding_medians|safe}}[i],
            lineTension: 0
        });
        dataParticipations.push({
            label: {{names|safe}}[i],
            backgroundColor: colors[i % 7],
            data: {{attendances|safe}}[i]
        });
        dataWins.push({label: {{names|safe}}[i], backgroundColor: colors[i % 7], data: {{victories|safe}}[i]});
        dataTimes.push({
            label: {{names|safe}}[i],
            borderColor: colors[i % 7],
            backgroundColor: "white",
            data: {{times|safe}}[i],
            lineTension: 0
        });
    }

    new Chart("Poradie_na_preteku", {
        type: "line",
        data: {
            labels: {{race_names|safe}},
            datasets: dataPlacements
        },
        options: {
            legend: {display: true},
            plugins: {
                title: {
                    display: true,
                    text: "Poradie na preteku"
                }
            },
            scales: {
                x: {
                    grid: {
                        display: false
                    }
                },
                y: {
                    reverse: true,
                    max: {{worst_placement}},
                    grid: {
                        display: false
                    },
                }
            }
        }
    });

    new Chart("Klzavy_median", {
        type: "line",
        data: {
            labels: {{race_names|safe}},
            datasets: dataMedians
        },
        options: {
            legend: {display: true},
            plugins: {
                title: {
                    display: true,
                    text: "Kĺzavý medián poradia za posledných 5 pretekov"
                }
            },
            scales: {
                x: {
                    grid: {
                        display: false
                    }
                },
                y: {
                    reverse: true,
                    max: {{worst_placement}},
                    grid: {
                        display: false
                    },
                }
            }
        }
    });

    new Chart("Ucasti", {
        type: "bar",
        data: {
            labels: {{months|safe}},
            datasets: dataParticipations
        },
        options: {
            legend: {display: true},
            plugins: {
                title: {
                    display: true,
                    text: "Účasti na pretekoch"
                }
            },
            scales: {
                y: {
                    display: true,
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                }
            }
        }
    });

    new Chart("Vitazstva", {
        type: "bar",
        data: {
            labels: {{months|safe}},
            datasets: dataWins
        },
        options: {
            legend: {display: true},
            plugins: {
                title: {
                    display: true,
                    text: "Víťazstvá"
                }
            },
            scales: {
                y: {
                    display: true,
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                }
            }
        }
    });

    new Chart("Casy", {
        type: "line",
        data: {
            labels: {{race_names|safe}},
            datasets: dataTimes
        },
        options: {
            legend: {display: true},
            plugins: {
                title: {
                    display: true,
                    text: "Zabehnuté časy (v minútach)"
                }
            },
            scales: {
                x: {
                    grid: {
                        display: false
                    }
                },
                y: {
                    reverse: true,
                    max: {{worst_time}},
                    grid: {
                        display: false
                    },
                }
            }
        }
    });

    function responsiveFont() {
        Chart.defaults.font.size = Math.max(Math.floor(window.outerWidth / 100), 3);
    }
</script>
</body>
</html>