<!DOCTYPE html>
<html lang="sk">
<head>
    <title>Štatistiky pretekára {{ name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>{% include 'css/style.css' %}</style>
    <script>{% include 'js/chart.min.js' %}</script>
</head>

<body onresize="responsiveFont()">
<div style="display: flex; flex-direction: column">
    <h1>Štatistiky pretekára {{ name }}</h1>
    <h2><u>Prehľad:</u></h2>
    <table>
        <tr>
            <th>Účasti na pretekoch:</th>
            <th>Víťazstvá:</th>
        </tr>
        <tr>
            <td>{{ participations }}</td>
            <td>{{ wins }}</td>
        </tr>
    </table>
</div>

<h2>Štatistiky za obdobie {{ date_from }} - {{ date_to }}</h2>
<section class="canvases">
    <div class="row">
        <canvas id="Poradie_na_preteku" class="canvas"></canvas>
        <canvas id="Klzavy_median" class="canvas"></canvas>
    </div>
    <div class="row">
        <canvas id="Ucasti" class="canvas"></canvas>
        <canvas id="Vitazstva" class="canvas"></canvas>
    </div>
    <div class="row">
        <canvas id="Casy" class="canvas"></canvas>
    </div>
</section>

<script>
    new Chart("Poradie_na_preteku", {
        type: "line",
        data: {
            labels: {{race_names|safe}},
            datasets: [{
                label: "{{ name }}",
                borderColor: "purple",
                backgroundColor: "white",
                data: {{placements|safe}},
                lineTension: 0
            }]
        },
        options: {
            legend: {display: false},
            plugins: {
                title: {
                    display: true,
                    text: "Poradie na preteku"
                }
            },
            scales: {
                x: {
                    grid: {
                        display: false
                    }
                },
                y: {
                    reverse: true,
                    max: {{worst_placement}},
                    grid: {
                        display: false
                    },
                }
            }
        }
    });

    new Chart("Klzavy_median", {
        type: "line",
        data: {
            labels: {{race_names|safe}},
            datasets: [{
                label: "{{ name }}",
                borderColor: "green",
                backgroundColor: "white",
                data: {{sliding_medians|safe}},
                lineTension: 0
            }]
        },
        options: {
            legend: {display: false},
            plugins: {
                title: {
                    display: true,
                    text: "Kĺzavý medián poradia za posledných 5 pretekov"
                }
            },
            scales: {
                x: {
                    grid: {
                        display: false
                    }
                },
                y: {
                    reverse: true,
                    max: {{worst_placement}},
                    grid: {
                        display: false
                    },
                }
            }
        }
    });

    new Chart("Ucasti", {
        type: "bar",
        data: {
            labels: {{months|safe}},
            datasets: [{
                label: "{{ name }}",
                backgroundColor: "brown",
                data: {{attendances|safe}}
            }]
        },
        options: {
            legend: {display: false},
            plugins: {
                title: {
                    display: true,
                    text: "Účasti na pretekoch"
                }
            },
            scales: {
                y: {
                    display: true,
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                }
            }
        }
    });

    new Chart("Vitazstva", {
        type: "bar",
        data: {
            labels: {{months|safe}},
            datasets: [{
                label: "{{ name }}",
                backgroundColor: "brown",
                data: {{victories|safe}}
            }]
        },
        options: {
            legend: {display: false},
            plugins: {
                title: {
                    display: true,
                    text: "Víťazstvá"
                }
            },
            scales: {
                y: {
                    display: true,
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1
                    }
                }
            }
        }
    });

    function responsiveFont() {
        Chart.defaults.font.size = Math.max(Math.floor(window.outerWidth / 100), 3);
    }
</script>
</body>
</html>
